@{
    ViewData["Title"] = "CRM | TIPOS DE CANALES";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <a asp-controller="#" asp-action="#" class="btn btn-outline-info" role="button">Agregar nuevo seguimiento</a>
    <a asp-controller="TypesObservations" asp-action="Index" class="btn btn-outline-info" role="button" >Tipos de observaciones</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Seguimientos</h3></center>
        </div>
        <div class="card-body" >

        </div>
    </div>
</div>