<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NATIVA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />

</head>
<body class="hold-transition sidebar-collapse  layout-fixed" >
    <div class="wrapper">
        <nav class=" navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                    </li>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Información</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="ChangeUser">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Salir</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a>
                    </li>
                }
            </ul>

        </nav>


        <div class="content-wrapper">
                @RenderBody()
        </div>



        <footer class="main-footer">
            <strong><a href="https://www.refocosta.com/">NATIVA</a>.</strong> 
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <partial name="_DeleteDialog" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
