@{
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item"><a href="/Tracings">Seguimientos</a></li>
            <li class="breadcrumb-item"><a href="/tasks">Tareas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear tarea</li>
        </ol>
    </nav>
    <a asp-controller="Tasks" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-primary-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <center><h3>Crear tarea</h3></center>
        </div>
        <div class="card-body">
            <form id="tasksForm"> 
                <div class="row">
                    <div class="col-md-4">
                        <label>Selecciona el seguimiento</label>
                        <select id="tracingsList" class="form-control" required>
                            <option value="">-- SEGUIMIENTO --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Fecha limite de la tarea</label>
                        <input id="deadline" class="form-control" type="datetime-local" required />
                    </div>
                    <div class="col-md-4">
                        <label>Tipo de tarea</label>
                        <select id="typesTasksList"  class="form-control" required>
                            <option value="">-- Tipo de tarea --</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Descripcion</label>
                        <textarea id="description" class="form-control" required></textarea>
                    </div>
                </div>
                <hr />
                <button type="submit" class="btn btn-outline-success" >Registrar</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/Tasks.js"></script>
}