@{
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item"><a href="/Tracings">Seguimientos</a></li>
            <li class="breadcrumb-item"><a href="/tasks">Tareas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
    </nav>
    <a asp-controller="Tasks" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-primary-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <center><h3>Detalles</h3></center>
        </div>
        <div class="card-body">
            <input type="hidden" id="detailsId" key="@ViewBag.Id" />
            <div class="row">
                <div class="col-md-12">
                    <label>Seguimiento</label>
                    <textarea id="tracingDetails" class="form-control" readonly></textarea>
                </div>
            </div>
            <hr />
            <div class="row mt-2">
                <div class="col-md-3">
                    <label>Fecha limite</label>
                    <input id="deadLineDetails" class="form-control" readonly/>
                </div>
                <div class="col-md-3">
                    <label>Fecha de creación</label>
                    <input id="createdDetails" class="form-control" readonly />
                </div>
                <div class="col-md-3">
                    <label>Fecha de ultima actualización</label>
                    <input id="updatedDetails" class="form-control" readonly />
                </div>
                <div class="col-md-3">
                    <label>Estado</label>
                    <span id="statusDetails" ></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label>Descripción</label>
                    <textarea id="descriptionDetails" class="form-control" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/Tasks.js"></script>
}