@{
    ViewData["Title"] = "CRM | CANALES";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <a asp-controller="Channels" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Crea un nuevo canal</h3></center>
        </div>
        <div class="card-body">
            <form id="channelsform">
                <div class="row">
                    <div class="col-md-6">
                        <input id="name" type="text" placeholder="Nombre..." class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-success">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/Channels.js"></script>
}

