@model Refosus.Web.Data.Entities.CaseEntity
@{
    ViewData["Title"] = "CASOS";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<br />
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item"><a asp-controller="Cases" asp-action="Index">Casos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solucionar</li>
        </ol>
    </nav>
    <a asp-controller="Cases" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Solucionar caso</h3></center>
        </div>
        <div class="card-body">
            <form asp-controller="Cases" asp-action="StoreSolution" method="post">
                <input asp-for="Id" type="hidden"/>
                <label>Solución al caso</label>
                <textarea asp-for="Solution" class="form-control"></textarea>
                <label>Minutos utilizados</label>
                <input asp-for="Hours" class="form-control" type="number" step=".01" required/>
                <br />
                <button class="btn btn-outline-success" >Cerrar caso</button>
            </form>
        </div>
    </div>
</div>