@{
    ViewData["Title"] = "CRM | TIPOS DE CANALES";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <a asp-controller="Tracings" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <a asp-controller="TypesObservations" asp-action="Create" class="btn btn-outline-info" role="button">Crear tipo de observacion</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Tipos de observaciones</h3></center>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Fecha de creacion</th>
                        <th>Detalles</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="typesObservations">
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/TypesObservations.js"></script>
}
