@model List<string>

@foreach (var item in Model)
{
    <h2>@item</h2>
}






<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview ">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Parametros
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Countries" asp-action="Index">
                            <i class="far fa-circle nav-icon"></i>
                            <p>paises</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Companies" asp-action="Index">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Compañias</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
