@{
    ViewData["Title"] = "Home Page";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Refosus WEB</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-blue">
                <div class="card-header">
                    <h3 class="card-title">Noticias</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Prueba
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Noticias</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Prueba
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-red">
                <div class="card-header">
                    <h3 class="card-title">Noticias</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Prueba
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-yellow">
                <div class="card-header">
                    <h3 class="card-title">Noticias</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    Prueba
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>
    </div>
</section>
    

