
@{
    ViewData["Title"] = "Menu1";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
    <div class="content-header">
        <h1>Menu</h1>
    </div>
<div class="content">
    <div class="container-fluid">
        Texto
    </div>
</div>


