@model Refosus.Web.Models.MessageViewModel
<div class="modal fade" id="SettledDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Radicado</h5>
            </div>
            <div class="modal-body">
                <p>El consecutvo de radicado es el: @Model.Id</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesmodal">Continuar</button>
            </div>
        </div>
    </div>
</div>