
<div class="modal fade" id="SpinnerDialog" tabindex="-1" role="dialog" aria-labelledby="CheckModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a class="card-title">Creando</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-2">
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-muted"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-primary"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-success"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-info"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-warning"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-danger"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-secondary"></div>
                    </div>
                    <div class="col col-1">
                        <div class="spinner-grow text-dark"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>