@model Refosus.Web.Data.Entities.MessagetransactionEntity
@{
    ViewData["Title"] = "DetailsTransaction";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card card-primary">
                    <div class="card-header">
                        <a class="card-title">Detalles de la Transacción</a>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <partial name="_DetailsMessageTransaction" />
                    </div>
                    <div class="card-footer ">
                        <a asp-action="DetailsMessage" asp-route-id="@Model.Message.Id" class="btn btn-danger col-sm-2 ">Cancelar</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>