@model Refosus.Web.Models.MessageViewModel
@{
    ViewData["Title"] = "EditMessage";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <form asp-action="EditMessage" enctype="multipart/form-data">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <a class="card-title">Actualizar Mensajeria</a>
                                </div>
                                <div class="col col-sm-2">

                                </div>
                                <div class="col col-sm-3 text-right">
                                    @if (Model.Type.Name == "Factura")
                                    {
                                        <button type="button" data-id="@Model.Id" class="btn btn-warning  receiveItem " data-toggle="modal" data-target="#InfoBillDialog">Informacion de la Factura</button>
                                    }
                                </div>
                                <div class="col col-sm-1">
                                    <div class="card-tools text-right">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="row">

                                        <input type="hidden" asp-for="CreateDate" />
                                        <input type="hidden" asp-for="StateIdOld" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group col col-sm-4">
                                            <label asp-for="Id" class="control-label">Consecutivo</label>
                                            <input asp-for="Id" class="form-control" disabled />
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col col-sm-4">
                                            <label asp-for="StateId" class="control-label"></label>
                                            <select asp-for="StateId" asp-items="Model.MessageState" class="form-control" disabled></select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <partial name="_Message" />

                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col col-8">

                                    @if (Model.StateId == 3)
                                    {
                                        <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" disabled />
                                        @if (Model.Type.Name != "Factura")
                                        {
                                            <button type="button" data-id="@Model.Id" class="btn btn-danger col-sm-2 closeItem" data-toggle="modal" data-target="#closeDialog" disabled>Cerrar</button>
                                        }
                                    }
                                    else
                                    {
                                        <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                        @if (Model.Type.Name != "Factura")
                                        {
                                            <button type="button" data-id="@Model.Id" class="btn btn-danger col-sm-2 closeItem" data-toggle="modal" data-target="#closeDialog">Cerrar</button>
                                        }

                                    }
                                    <a asp-action="Index" class="btn btn-success col-sm-2 ">Listado</a>

                                </div>
                                <div class="col col-4">

                                </div>
                            </div>
                        </div>

                    </div>
                    <partial name="_CloseMessageDialog" />
                    <partial name="_Bill" />
                </form>
            </section>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function () {
            document.getElementById("StateId").disabled = true;
            document.getElementById("StateIdOld").value = document.getElementById("StateId").value;


            // Delete item
            var item_to_closeMessage;
            $('.closeItem').click((e) => {
                item_to_closeMessage = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                document.getElementById("StateId").disabled = false;
                document.getElementById("StateId").value = 3;
            });

            var item_to_ReceiveMessage;
            var note;
            $('.receiveItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note=document.getElementById("Transaction_Observation").value;
            });

            $('.AuthorizeItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });

            $('.RefuseItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            $('.FinishedItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });


            $("#btnReceive").click(function () {
                document.getElementById("StateBillId").disabled = false;
                document.getElementById("StateBillId").value = 2;
                document.getElementById("StateBillId").disabled = true;
                window.location.href = '/Messages/ReceiveMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });

            $("#btnAuthorize").click(function () {
                document.getElementById("StateBillId").disabled = false;
                document.getElementById("StateBillId").value = 3;
                document.getElementById("StateBillId").disabled = true;
                window.location.href = '/Messages/AuthorizeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });
            $("#btnRefuse").click(function () {
                document.getElementById("StateBillId").disabled = false;
                document.getElementById("StateBillId").value = 4;
                document.getElementById("StateBillId").disabled = true;
                window.location.href = '/Messages/RefuseMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });
            $("#btnFinished").click(function () {
                document.getElementById("StateBillId").disabled = false;
                document.getElementById("StateBillId").value = 4;
                document.getElementById("StateBillId").disabled = true;
                window.location.href = '/Messages/FinishedMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });



            $("#btnRefresh").click(function () {
                document.getElementById("StateId").disabled = false

                if (document.getElementById("StateIdOld").value == 5) {
                    document.getElementById("StateId").value = 2;
                }
                if (document.getElementById("StateIdOld").value == 1) {
                    document.getElementById("StateId").value = 2;
                }
            });
            $("#CreateUser").change(function () {
                document.getElementById("StateId").value = 5;
            });
        });
    </script>
}

