@{
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item"><a href="/Tasks">Tareas</a></li>
            <li class="breadcrumb-item"><a href="/TypesTasks">Tipos de tareas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear tipo de tarea</li>
        </ol>
    </nav>
    <a asp-controller="TypesTasks" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-primary-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <center><h3>Crear tipo de tarea</h3></center>
        </div>
        <div class="card-body">
            <form id="typesTasksForm">
                <div class="row">
                    <div class="col-md-6">
                        <label>Nombre</label>
                        <input id="name" class="form-control"  required />
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-success ml-2 mt-4">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/TypesTasks.js"></script>
}