@model Refosus.Web.Models.ChangePasswordAllUserViewModel
@{
    ViewData["Title"] = "ChangePasswordAllUser";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<form asp-action="ChangePasswordAllUser" enctype="multipart/form-data" class="login-page">
    <div class="col col-4">
        <div class="card card-cyan">
            <div class="card-header">
                <div class="login-logo">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><b>NATIVA - Cambio de clave</b> </a>
                </div>
            </div>
            <div class="card card-body">
                <div class="input-group mb-3">
                    <div asp-validation-summary="ModelOnly" class="warning"></div>
                    <div class="form-group col-sm-12">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <div class="input-group mb-3">
                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="Contraseña" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <label asp-for="Confirm" class="control-label"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Confirm" type="password" class="form-control" placeholder="Contraseña" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Confirm" class="text-warning"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">

                    <div class="form-group col-sm-6">
                        <input type="submit" class="btn btn-success btn-block" value="Cambiar" />
                    </div>
                    <div class="form-group col-sm-6">
                        <a asp-action="IndexUsers" class="btn btn-danger btn-block">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>