@model Refosus.Web.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head> 
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link href="~/Icon/css/open-iconic-bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
</head>
<body class="hold-transition login-page" >
    <div class="login-box">
        <form method="post">
            <div class="card card-cyan">
                <div class="card-header">
                    <div class="login-logo">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><b>NATIVA</b> </a>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Ingreso al sistema</p>
                    <div class="input-group mb-3">
                        <div asp-validation-summary="ModelOnly" class="warning"></div>
                        <div class="form-group col-sm-12">
                            <label asp-for="UserName" class="control-label"></label>
                            <div class="input-group mb-3">
                                <input asp-for="UserName" class="form-control" placeholder="Usuario" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="UserName" class="text-warning"></span>
                        </div>
                        <div class="form-group col-sm-12">
                            <label asp-for="Password" class="control-label"></label>
                            <div class="input-group mb-3">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                <label asp-for="RememberMe" class="control-label">Recordar me?</label>
                            </div>
                            <span asp-validation-for="RememberMe" class="text-warning"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="submit" class="btn btn-success btn-block" value="Ingresar" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script src="~/js/jquery-3.5.0.min.js"></script>
</body>
</html>
