<div class="modal fade" id="AuthorizeShoppingDialog" tabindex="-1" role="dialog" aria-labelledby="CancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Autorizar Compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta apunto autorizar la compra, no podra modificarla más adelante.</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" id="btnYesAuthorizeShopping">Autorizar Compra</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>