
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}

<div class="col-lg-8 col-8">
    <div class="small-box bg-warning">
        <div class="inner">
                <div class="col col-8">
                    <h3>
                        Refocosta y su equipo
                        <br />
                        TI se encuentran trabajando
                        <br />
                        en la creación de nuevas
                        <br />
                        experiencias.
                    </h3>
                </div>
                <div class="col col-6">
                    <img src="@Url.Content("~/Images/Parameters/Construccion.jpg")" class="img-fluid" alt="Responsive image">
                </div>
        </div>
        <div class="icon">
            <i class="oi oi-info"></i>
        </div>
    </div>
</div>

