
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}


<section class="content-header">
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-5 col-5">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <div class="col col-8">
                            <h3>COMPRAS</h3>
                            <h5>
                                El modulo de gestion de compras permitira realizar las
                                peticiones de compras al departamento correspondiente de forma directa.
                            </h5>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="oi oi-info"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-4">
                <div class="small-box bg-cyan">
                    <div class="inner">
                        <div class="col col-8">
                            <h3>Fechas</h3>
                            <h5>
                                Lanzamiento a pruebas: 14 de Octubre del 2020
                                Lanzamiento a Producción: 26 de Octubre del 2020
                            </h5>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="oi oi-info"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-6">
        </div>
    </div>
</section>