@{
    ViewData["Title"] = "CRM | CONTACTOS";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <a asp-controller="Contacts" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Detalles</h3></center>
        </div>
        <div class="card-body">
            <input type="hidden" id="detailsId" key="@ViewBag.Id" />
            <div class="row">
                <div class="col-md-4">
                    <label>Nombre</label>
                    <input id="nameDetails" type="text" class="form-control" readonly />
                </div>
                <div class="col-md-4">
                    <label>Celular</label>
                    <input id="cellPhoneDetails" type="text" class="form-control" readonly />
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <input id="emailDetails" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="row mt-2" >
                <div class="col-md-6">
                    <label>Fecha de creación</label>
                    <input id="createdDetails" type="text" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label>Fecha de ultima actualización</label>
                    <input id="updatedDetails" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <label>Petición</label>
                    <textarea id="petitionDetails" class="form-control" readonly></textarea>
                </div>
            </div>
            <hr />
            <div class="row">
                <div id="listChannels" class="col-md-6">
                    <label>Canales asignados</label>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/Contacts.js"></script>
}