@{
    ViewData["Title"] = "CRM | CONTACTOS";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<div class="container col-md-11">
    <br />
    <a asp-controller="Contacts" asp-action="Index" class="btn btn-outline-primary" role="button">Atras</a>
    <div class="card mt-2" >
        <div class="card-header" >
            <div class="card-tools">
                <button type="button" class="btn btn-primary-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
            <center><h3>Editar</h3></center>
        </div>
        <div class="card-body">
            <input type="hidden" id="editId" key="@ViewBag.Id" />
            <div class="row">
                <div class="col-md-4">
                    <label>Nombre</label>
                    <input id="nameEdit" type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Celular</label>
                    <input id="cellPhoneEdit" type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <input id="emailEdit" type="text" class="form-control" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label>Fecha de creación</label>
                    <input id="createdEdit" type="text" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label>Fecha de ultima actualización</label>
                    <input id="updatedEdit" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <label>Petición</label>
                    <textarea id="petitionEdit" class="form-control"></textarea>
                </div>
            </div>
            <hr />
            <div class="row">
                <div id="listChannelsEdit" class="col-md-6">
                    
                </div>
            </div>
            <hr />
            <button id="editContact" class="btn btn-outline-success float-right" >Editar</button>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Fetch.js"></script>
    <script src="~/js/Contacts.js"></script>
}